.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  color: $white;

  .logo {
    font-size: 22px;
    font-weight: bolder;
    cursor: pointer;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    cursor: pointer;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}
