// Responsive variables
$mobile: 540px;
$desktop: 1280px;

// Color palette
$blue-600: #1F1B42;
$blue-800: #0F0B30;
$blue-900: #080425;

$purple-300: #7879F1;
$purple-400: #5773FF;

$cyan: #00F0FF;
$pink: #FF007A;
$white: #fff;