.gradient {
    h1 {
        font-size: 72px;
        background: linear-gradient(to right, #00d9ff, #7b57fc, #ff00ff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        width: fit-content;
    }
}
